version: '3.8'
services:
  postgres:
    container_name: realo-postgres
    image: postgres:14.8-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    networks:
      - realo
    volumes:
      - postgres:/var/lib/postgresql/data
  app:
    container_name: realo-api
    env_file:
      - default.env
    build:
      context: .
      dockerfile: Dockerfile
    image: realo:latest
    ports:
      - "8080:8080"
    networks:
      - realo
    depends_on:
      - postgres
volumes:
  postgres:
    driver: local
  minio:
    driver: local
networks:
  realo:
    driver: bridge